.main {

}

.contact {

	&__email {
		display: flex;
		justify-content: flex-start;
		align-items: center;


		p {
			font-size: 35px;
			font-family: 'GT-America-Thin';
			color: rgb(50,50,50);
			background-color: white;
			padding: 20px;
			box-shadow: 8px 10px 28px rgb(50,50,50);
			z-index: 5;
		}
	}

	&__display {
		position: absolute;
		top: 12%;
		right: 5%;
		box-shadow: 8px 8px 45px 5px rgb(50,50,50);
		min-width: 70%;
		// float: right;
		// margin-right: 20px;
	}
}